body {
    font-family: 'Times New Roman', sans-serif; 
    background-color: #9aade8;
    font-size: 18px;
    
  }
  .container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #05010e;
    background-color: #f4f0f0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: #000000;
    background-color: #f9f7f7;
    border: 2px solid #0f0c0c;
  }
  th, td {
    border: 1px solid #000000;
    line-height: 2;
    text-align: center;
    font-size: 16px;
  }
  .add-song {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #000006;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
  }
  input[type="text"], button {
    margin: 5px;
    padding: 5px;
    border: 1.5px solid #000000;
    color: rgb(0, 0, 0);
  }
  button {
      cursor: pointer;
      background-color: rgb(141, 141, 225);
      color: rgb(255, 255, 255);
  }
